<?xml version='1.0' encoding='utf-8'?>
<plugin id="de.cordova-background-audio-swift.controls" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-backgroundaudio-swift</name>

    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="BackgroundAudioWithControls">
          <param name="ios-package" value="BackgroundAudioWithControls" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <source-file src="src/ios/BackgroundAudioWithControls.swift" />
    </platform>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>audio</string>
      </array>
    </config-file>
</plugin>
